.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode

# experiment outputs / generated artifacts
output_dir/
output_imgs/
runs/
**/events.out.tfevents.*
*.tfevents.*

# IDE files
.idea/
debug imgs/I3D feat_sid=clark-center-2019-02-28_1_image4_fid=45_frame=0_bf_idx=0.png
debug imgs/I3D feat_sid=tressider-2019-04-26_2_image2_fid=45_frame=0_bf_idx=0.png
debug imgs/I3D feat_sid=tressider-2019-04-26_2_image8_fid=45_frame=0_bf_idx=0.png
.codex
